:root {
  --purple: #b17bff;
  --grey: #959598FF;
  --dark-grey: #202124;
}

html {
  max-width: 70ch;
  padding: 3em 1em;
  margin: auto;
  line-height: 1.75;
  font-size: 1.25em;
}

body {
  color: var(--grey); /* text color */
  background-color: var(--dark-grey);
}

h1, h2 {
  color: var(--purple);
}

/*LINKS*/
/* unvisited link */
a:link {
    color: var(--purple);
    text-decoration: none;
}

/* visited link */
a:visited {
    color: var(--purple);
    text-decoration: none;
}

/* mouse over link */
a:hover {
    color: var(--purple);
    text-decoration: underline;
}

/*for render in one line .inner in .outer div*/
#outer {
    width: 100%;
    text-align: center;
}

.inner {
    display: inline-block;
}

.grey-form {
    background-color: var(--grey);
    color: var(--dark-grey); /* text color */
}