{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href = "{% static 'css/base.css' %}" rel = 'stylesheet'>
</head>
<body>
<!--NAV-->
<div id="outer">
    <div class="grey-form">
        <div class="inner">
            <form action="/"><input type="submit" value="Main"/></form>
        </div>
        <div class="inner">
            <form action="/customers"><input type="submit" value="Customers"/></form>
        </div>
        <div class="inner">
            <form action="/users"><input type="submit" value="Users"/></form>
        </div>
        <div class="inner">
            <form action="/orders"><input type="submit" value="Orders"/></form>
        </div>
        <div class="inner">
            <form action="/packages"><input type="submit" value="Packages"/></form>
        </div>
        <div class="inner">
            <form action="/products"><input type="submit" value="Products"/></form>
        </div>
        <div class="inner">
            <form action="/components"><input type="submit" value="Components"/></form>
        </div>
        <div class="inner">
            <form action="/warehouses"><input type="submit" value="Warehouses"/></form>
        </div>
        <div class="inner">
            <form action="/finance"><input type="submit" value="Finance"/></form>
        </div>
        <div class="inner">
            <form action="/communication"><input type="submit" value="Communication"/></form>
        </div>
        <div class="inner">
            <form action="/media"><input type="submit" value="Media"/></form>
        </div>
    </div>
</div>
<!--CONTENT-->
    <div>
        {% block content %}{% endblock %}
    </div>

<!--FOOTER-->
    {% block footer %}
        <footer>
            <div class="grey-form">
                <p>Copyright © 2022, Yuwinzer</p>
            </div>
        </footer>
    {% endblock %}
</body>
</html>